@import "../../_variables";

.Topbar{
    background-color: $columbia-white;
    color: $columbia-text-dark;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 0.5s ease;
    border-bottom: 1px solid $columbia-blue-light;

    .wrapper{
        padding: 25px 30px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display: flex;
            align-items: center;
            .itemContainer{
                display: flex;
                margin-left: 50px;
                align-items: center;
                .icon{
                    color: $columbia-blue-dark;
                    font-size: 18px;
                    margin-right: 10px;
                }
                span{
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            .logo{
                font-size: 30px;
                color: $columbia-blue-dark;
                text-decoration: none;
                font-family: $font-serif;
                font-weight: 700;
            }
            
        }
        .right{
            .hamburger{
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                
                span{
                    width: 100%;
                    height: 3px;
                    background-color: $columbia-text-dark;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }
    &.active{
        background-color: $columbia-blue-dark;
        color: $columbia-white;
        .hamburger {
            span {
                &:nth-child(1) {
                    background-color: $columbia-white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    background-color: $columbia-white;
                    transform: rotate(-45deg);
                }
            }
        }
        .logo, .icon {
            color: $columbia-white;
        }
    }

    // --- NEW MEDIA QUERY ---
    @media (max-width: 768px) {
        .Topbar {
            height: 40px;
        }
        .wrapper {
            padding: 10px 20px; // Tighter padding

            .left {
                .itemContainer {
                    display: none; // Hides the text links
                }
                .logo {
                    font-size: 30px; // Slightly smaller logo
                }
            }
        }
    }
}