@import "../../_variables";

.contact {
  background-color: $columbia-blue-dark;
  color: $columbia-white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .container {
    width: 60%;
    max-width: 700px;
  }

  h2 {
    font-family: $font-serif;
    font-size: 42px;
    margin-bottom: 30px;
  }

  p {
    font-family: $font-sans;
    font-size: 19px;
    line-height: 1.7;
    margin-bottom: 40px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .contact-link {
      font-family: $font-sans;
      font-size: 20px;
      font-weight: 700;
      color: $columbia-white;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $columbia-blue-light;
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

// --- NEW MEDIA QUERY ---
@media (max-width: 768px) {
    .contact {
        .container {
            width: 90%;
        }
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 16px;
        }
        .links {
            .contact-link {
                font-size: 18px;
            }
        }
    }
}