
$columbia-blue-light: #B9D9EB;


$columbia-blue-dark: #1D4F91;


$columbia-blue-accent: #0077C8; 
$columbia-blue-medium: #6CACE4; 


$columbia-white: #FFFFFF;
$columbia-text-dark: #1C1C1C; 


$font-serif: 'Garamond', 'Times New Roman', serif;
$font-sans: 'Lato', 'Open Sans', sans-serif;