
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Garamond:wght@400;700&display=swap');
@import 'variables'; 

body {
  margin: 0;
  font-family: $font-sans; 
  background-color: $columbia-white;
  color: $columbia-text-dark;
  overflow-x: hidden;
}
